{% extends "::base.html.twig" %}

{% block title %}CzI18Bundle:Frontend:homepage{% endblock %}

{% block body %}
<h1>Welcome to the Frontend:homepage page</h1>
    {% set local = defaultlocale %}

{% endblock %}
