<!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-fixed">
    <div class="sidebar-content">

        <!-- User menu -->

        <!-- /user menu -->


        <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <!-- Main -->
                    <li class="navigation-header">
                        <span> <i id="moncercle2" class="icon-equalizer"></i> PARAMÈTRES</span></li>
                    <li>
                        <a href="../index.html"><i class="icon-design flot-left"></i> <span class="text-uppercase">Personnalisation</span></a>
                    </li>

                    <li>
                        <a href="../index.html"><i class="icon-credit-card flot-left"></i> <span class="text-uppercase">Système de réservation</span></a>
                    </li>

                    <li>
                        <a href="../index.html"><i class="icon-square-up flot-left"></i> <span class="text-uppercase">En-tête</span></a>
                    </li>
                    <li>
                        <a href="../index.html"><i class="icon-square-down flot-left"></i> <span class="text-uppercase">Pied de page</span></a>
                    </li>
                    <li>
                        <a href="../index.html"><i class="icon-law flot-left"></i> <span class="text-uppercase">Mentions légales</span></a>
                    </li>

                    <li class="navigation-header">
                        <span> <i id="moncercle2" class="icon-paragraph-left2"></i> CONTENU</span></li>
                    <li>
                    <li>
                        <a href="../index.html"><i class="icon-home2 flot-left"></i> <span class="text-uppercase">Accueil</span></a>
                        <ul>
                            <li><a href="{{ path("CzAdminBundle_carrousel") }}">Carrousel</a></li>
                            <li><a href="detached_right.html">Right sidebar</a></li>
                            <li><a href="detached_sticky.html">Sticky sidebar</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="../index.html"><i class="icon-bed2 flot-left"></i> <span class="text-uppercase">chambres</span></a>
                    </li>
                    <li>
                        <a href="../index.html"><i class="icon-user-tie flot-left"></i> <span class="text-uppercase">services</span></a>
                    </li>
                    <li>
                        <a href="../index.html"><i class="icon-users4 flot-left"></i> <span class="text-uppercase">Séminaires</span></a>
                    </li>
                    <li>
                        <a href="../index.html"><i class="icon-ticket flot-left"></i> <span class="text-uppercase">Séminaires</span></a>
                    </li>
                    <li>
                        <a href="../index.html"><i class="icon-newspaper flot-left"></i> <span class="text-uppercase">actualités</span></a>
                    </li>
                    <li>
                        <a href="../index.html"><i class="icon-pin flot-left"></i> <span class="text-uppercase">accès & contacts</span></a>
                    </li>
                    <!-- /main -->
                    <li class="navigation-header">
                        <span> <i id="moncercle2" class="icon-stats-dots"></i> STATISTIQUES</span></li>
                    <li>
                    <li>
                        <a href="#">Detached layout</a>
                        <ul>
                            <li><a href="detached_left.html">Carrousel</a></li>
                            <li><a href="detached_right.html">Right sidebar</a></li>
                            <li><a href="detached_sticky.html">Sticky sidebar</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /main navigation -->

    </div>
</div>
<!-- /main sidebar -->