/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/vendor/
/bin/*
!bin/fullreload
!bin/travis_*
/composer.phar
.idea
web/generated-js
web/generated-css
web/uploads
.DS_Store
web/frontend
.gitgnore
.buildpath
.project
.settings/
*.sublime-project
*.sublime-workspace
node_modules/
web/vendor/
.sass-cache/
web/css
web/Kunstmaan*BundleAssets/
web/CzAdminBundleAssets
web/assets
/src/Cz/AdminBundle/Resources/assets/*
app/Resources/vendor_bower/bootstrap-sass-official/assets/images/
bin/

web/CzAdminBundleBundleAssets/css/service.min.css
web/CzAdminBundleBundleAssets/css/service.min_service_1.css
