{% extends '@CzAdmin/Page/layout.html.twig' %}

{% block content %}
<div class="container">
    <div class="row">
                <div id="hometitle" class="col-md-12">
                    <h1>HÔTEL LOURMARIN</h1>
                    <h2 class="cyan"> Bienvenue dans votre web manager !</h2>
                </div>

            <div class="col-md-12">
                <div class="col-md-6">
                    <ul id="home" >
                        <li><a><i id="moncercle" class="icon-equalizer"></i><i class="border-home-left"></i> <span><small>Régles les</small> PARAMETRES</span></a></li>
                        <li><a><i id="moncercle" class="icon-pie-chart"></i><i class="border-home-left"></i> <span><small>Voir les</small> STATISTIQUES</span> </a></li>
                        <li><a><i id="moncercle" class="icon-display4"></i><i class="border-home-left"></i>  <span> <small>Aller sur le</small>SITE WEB</span></a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul id="home">
                        <li><a><i id="moncercle" class="icon-paragraph-left2"></i><i class="border-home-left"></i><span> <small>Éditer le</small> CONTENU</span></a></li>
                        <li><a><i id="moncercle" class="icon-cog"></i><i class="border-home-left"></i><span> <small>Configurer le compte</small> UTILISATEUR</span></a></li>
                    </ul>
                </div>
        </div>
    </div>
</div>
{% endblock %}
