{% extends '@CzAdmin/Layout/layout.html.twig' %}

{% block title %}CzAdminBundle:Carrousel:carrousel{% endblock %}

{% block content %}

        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title">Panel title</h6>
                    </div>

                    <div class="panel-body">
                        Basic panel example without heading elements
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
