{% extends "::base.html.twig" %}

{% block title %}CzI18Bundle:Acceuil:index{% endblock %}

{% block body %}
<h1>Welcome to the Acceuil:index page</h1>
    {% include 'A2lixTranslationFormBundle:Util:localeSwitcher.html.twig' only %}
    {{ dump(app.request)}}
    <ul class="nav nav-stacked">
        {% render(controller('CzI18Bundle:Acceuil:menu')) %}
    </ul>
{% endblock %}
