{% extends '@CzAdmin/Layout/layout.html.twig' %}

{% block title %}CzAdminBundle:Personnalisation:index{% endblock %}

{% block content %}
<h1>Welcome to the Personnalisation:index page</h1>

    {% if adminlist.getIndexUrl()['params'] is defined %}
        {{ adminlist_widget(adminlist, adminlist.getIndexUrl()["path"], adminlist.getIndexUrl()['params']) }}
    {% else %}
        {{ adminlist_widget(adminlist, adminlist.getIndexUrl()["path"], adminlist.getIndexUrl()) }}
    {% endif %}
{% endblock %}
